---
layout: auth-guard
eleventyNavigation:
  key: App
  order: 2
meta:
  title: App
  description: Protected application area
---

<!-- This page will redirect to the dashboard -->
<script>
  window.location.href = '/app/profile/';
</script> 